.DS_Store
.history
node_modules/
data_dir/
/dist/
/logs/
/logsDockerfile/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
/config/local.json

.env
coverage/
test-report.html